In [57]:
import pandas as pd

# Load the dataset

df = pd.read_csv('sales_data.csv', low_memory=False)

In [58]:
df

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
0,100354678,2020-10-01,received,574772.0,oasis_Oasis-064-36,21.0,89.9,1798.0,0.0,1798.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
1,100354678,2020-10-01,received,574774.0,Fantastic_FT-48,11.0,19.0,190.0,0.0,190.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
2,100354680,2020-10-01,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.0,1199.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
3,100354680,2020-10-01,complete,574779.0,oasis_Oasis-061-36,9.0,79.9,639.2,0.0,639.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
4,100367357,2020-11-13,received,595185.0,MEFNAR59C38B6CA08CD,2.0,99.9,99.9,0.0,99.9,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286387,100562365,2021-09-30,paid,905179.0,APPCHA5AF14939B8F8A,2.0,4419.9,4419.9,0.0,4419.9,...,613-87-0361,212-772-7404,Rushville,Yates,Rushville,NY,14544,Northeast,bklatham,0.0
286388,100562376,2021-09-30,cod,905191.0,MEFCOT5A8D1E973B886,2.0,39.9,39.9,0.0,39.9,...,101-02-1040,229-817-9451,Lawrenceville,Gwinnett,Lawrenceville,GA,30044,South,bmbrunetti,0.0
286389,100562383,2021-09-30,cod,905200.0,WOFVAL59D5EA84167F9-M,2.0,40.0,40.0,0.0,40.0,...,399-31-7238,252-414-8396,Durham,Durham,Durham,NC,27701,South,fngiusti,0.0
286390,100562384,2021-09-30,cod,905202.0,WOFNIG5B4D7EB0E9FDD-L,2.0,49.9,49.9,0.0,49.9,...,399-31-7238,252-414-8396,Durham,Durham,Durham,NC,27701,South,fngiusti,0.0
286391,100562386,2021-09-30,processing,905205.0,MATHUA5AF70A7D1E50A,2.0,3559.9,3559.9,0.0,3559.9,...,320-11-8748,423-276-2699,Knoxville,Knox,Knoxville,TN,37920,South,reschlosser,0.0

# Initial Data Inspection

In [59]:
# Display the first few rows

print(df.head())

    order_id  order_date    status   item_id                  sku  \
0  100354678  2020-10-01  received  574772.0   oasis_Oasis-064-36
1  100354678  2020-10-01  received  574774.0      Fantastic_FT-48
2  100354680  2020-10-01  complete  574777.0      mdeal_DMC-610-8
3  100354680  2020-10-01  complete  574779.0   oasis_Oasis-061-36
4  100367357  2020-11-13  received  595185.0  MEFNAR59C38B6CA08CD

   qty_ordered  price   value  discount_amount   total  ...          SSN  \
0         21.0   89.9  1798.0              0.0  1798.0  ...  627-31-5251
1         11.0   19.0   190.0              0.0   190.0  ...  627-31-5251
2          9.0  149.9  1199.2              0.0  1199.2  ...  627-31-5251
3          9.0   79.9   639.2              0.0   639.2  ...  627-31-5251
4          2.0   99.9    99.9              0.0    99.9  ...  627-31-5251

     Phone No.  Place Name  County    City State    Zip Region User Name  \
0  405-959-1129     Vinson  Harmon  Vinson    OK  73571  South   jwtitus
1  405-959-1129     Vinson  Harmon  Vinson    OK  73571  South   jwtitus
2  405-959-1129     Vinson  Harmon  Vinson    OK  73571  South   jwtitus
3  405-959-1129     Vinson  Harmon  Vinson    OK  73571  South   jwtitus
4  405-959-1129     Vinson  Harmon  Vinson    OK  73571  South   jwtitus

  Discount_Percent
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0

[5 rows x 36 columns]

In [60]:
# Get a summary of the dataset

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286392 entries, 0 to 286391
Data columns (total 36 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   order_id          286392 non-null  object
 1   order_date        286392 non-null  object
 2   status            286392 non-null  object
 3   item_id           286392 non-null  float64
 4   sku               286392 non-null  object
 5   qty_ordered       286392 non-null  float64
 6   price             286392 non-null  float64
 7   value             286392 non-null  float64
 8   discount_amount   286392 non-null  float64
 9   total             286392 non-null  float64
 10  category          286392 non-null  object
 11  payment_method    286392 non-null  object
 12  bi_st             286392 non-null  object
 13  cust_id           286392 non-null  float64
 14  year              286392 non-null  int64
 15  month             286392 non-null  object
 16  ref_num           286392 non-null  int64
 17  Name Prefix       286392 non-null  object
 18  First Name        286392 non-null  object
 19  Middle Initial    286392 non-null  object
 20  Last Name         286392 non-null  object
 21  Gender            286392 non-null  object
 22  age               286392 non-null  float64
 23  full_name         286392 non-null  object
 24  E Mail            286392 non-null  object
 25  Customer Since    286392 non-null  object
 26  SSN               286392 non-null  object
 27  Phone No.         286392 non-null  object
 28  Place Name        286392 non-null  object
 29  County            286392 non-null  object
 30  City              286392 non-null  object
 31  State             286392 non-null  object
 32  Zip               286392 non-null  int64
 33  Region            286392 non-null  object
 34  User Name         286392 non-null  object
 35  Discount_Percent  286392 non-null  float64
dtypes: float64(9), int64(3), object(24)
memory usage: 78.7+ MB
None

In [61]:
# Get statistical details

print(df.describe())

             item_id    qty_ordered          price          value  \
count  286392.000000  286392.000000  286392.000000  286392.000000
mean   741664.902131       3.011296     851.385253     885.879934
std     95746.031827       4.573837    1741.750751    2073.252179
min    574769.000000       1.000000       0.000000       0.000000
25%    659684.500000       2.000000      49.900000      49.900000
50%    742309.000000       2.000000     119.000000     158.970000
75%    826124.250000       3.000000     950.000000     910.000000
max    905208.000000     501.000000  101262.590000  101262.590000

       discount_amount          total        cust_id           year  \
count    286392.000000  286392.000000  286392.000000  286392.000000
mean         70.039427     815.840507   70048.019054    2020.618778
std         256.880870    1983.580302   30243.856395       0.485688
min           0.000000       0.000000       4.000000    2020.000000
25%           0.000000      49.900000   56519.000000    2020.000000
50%           0.000000     149.800000   74225.500000    2021.000000
75%          18.383050     800.000000   92357.000000    2021.000000
max       30213.150000  101262.590000  115326.000000    2021.000000

             ref_num            age            Zip  Discount_Percent
count  286392.000000  286392.000000  286392.000000     286392.000000
mean   560853.663395      46.489033   49723.160015          6.069079
std    255828.418398      16.673288   27597.198873         10.100100
min    111127.000000      18.000000     210.000000          0.000000
25%    341265.000000      32.000000   26571.750000          0.000000
50%    564857.000000      47.000000   49316.000000          0.000000
75%    781086.000000      61.000000   72645.000000         11.000000
max    999981.000000      75.000000   99950.000000         75.000000

# Handling Missing Values

In [62]:
# Check for missing values

print(df.isnull().sum())

order_id            0
order_date          0
status              0
item_id             0
sku                 0
qty_ordered         0
price               0
value               0
discount_amount     0
total               0
category            0
payment_method      0
bi_st               0
cust_id             0
year                0
month               0
ref_num             0
Name Prefix         0
First Name          0
Middle Initial      0
Last Name           0
Gender              0
age                 0
full_name           0
E Mail              0
Customer Since      0
SSN                 0
Phone No.           0
Place Name          0
County              0
City                0
State               0
Zip                 0
Region              0
User Name           0
Discount_Percent    0
dtype: int64

# Removing Duplicates

In [63]:
# Check for duplicate rows

print(df.duplicated().sum())

0

# Standardizing Text Values

In [64]:
# Convert column names to lowercase and replace spaces with underscores

df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [65]:
df.head()

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,...,ssn,phone_no.,place_name,county,city,state,zip,region,user_name,discount_percent
0,100354678,2020-10-01,received,574772.0,oasis_Oasis-064-36,21.0,89.9,1798.0,0.0,1798.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
1,100354678,2020-10-01,received,574774.0,Fantastic_FT-48,11.0,19.0,190.0,0.0,190.0,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
2,100354680,2020-10-01,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.0,1199.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
3,100354680,2020-10-01,complete,574779.0,oasis_Oasis-061-36,9.0,79.9,639.2,0.0,639.2,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
4,100367357,2020-11-13,received,595185.0,MEFNAR59C38B6CA08CD,2.0,99.9,99.9,0.0,99.9,...,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0

In [66]:
# Standardize text columns

df['place_name'] = df['place_name'].str.strip().str.lower()
df['county'] = df['county'].str.strip().str.lower()
df['city'] = df['city'].str.strip().str.lower()
df['state'] = df['state'].str.strip().str.lower()
df['region'] = df['region'].str.strip().str.lower()

In [67]:
df.head()

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,...,ssn,phone_no.,place_name,county,city,state,zip,region,user_name,discount_percent
0,100354678,2020-10-01,received,574772.0,oasis_Oasis-064-36,21.0,89.9,1798.0,0.0,1798.0,...,627-31-5251,405-959-1129,vinson,harmon,vinson,ok,73571,south,jwtitus,0.0
1,100354678,2020-10-01,received,574774.0,Fantastic_FT-48,11.0,19.0,190.0,0.0,190.0,...,627-31-5251,405-959-1129,vinson,harmon,vinson,ok,73571,south,jwtitus,0.0
2,100354680,2020-10-01,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.0,1199.2,...,627-31-5251,405-959-1129,vinson,harmon,vinson,ok,73571,south,jwtitus,0.0
3,100354680,2020-10-01,complete,574779.0,oasis_Oasis-061-36,9.0,79.9,639.2,0.0,639.2,...,627-31-5251,405-959-1129,vinson,harmon,vinson,ok,73571,south,jwtitus,0.0
4,100367357,2020-11-13,received,595185.0,MEFNAR59C38B6CA08CD,2.0,99.9,99.9,0.0,99.9,...,627-31-5251,405-959-1129,vinson,harmon,vinson,ok,73571,south,jwtitus,0.0

# Converting Date Formats

In [68]:
# Convert 'order_date' to datetime format

df['order_date'] = pd.to_datetime(df['order_date'], errors='coerce')
df['order_date'] = df['order_date'].dt.strftime('%d-%m-%Y')

In [69]:
df.head()

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,...,ssn,phone_no.,place_name,county,city,state,zip,region,user_name,discount_percent
0,100354678,01-10-2020,received,574772.0,oasis_Oasis-064-36,21.0,89.9,1798.0,0.0,1798.0,...,627-31-5251,405-959-1129,vinson,harmon,vinson,ok,73571,south,jwtitus,0.0
1,100354678,01-10-2020,received,574774.0,Fantastic_FT-48,11.0,19.0,190.0,0.0,190.0,...,627-31-5251,405-959-1129,vinson,harmon,vinson,ok,73571,south,jwtitus,0.0
2,100354680,01-10-2020,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.0,1199.2,...,627-31-5251,405-959-1129,vinson,harmon,vinson,ok,73571,south,jwtitus,0.0
3,100354680,01-10-2020,complete,574779.0,oasis_Oasis-061-36,9.0,79.9,639.2,0.0,639.2,...,627-31-5251,405-959-1129,vinson,harmon,vinson,ok,73571,south,jwtitus,0.0
4,100367357,13-11-2020,received,595185.0,MEFNAR59C38B6CA08CD,2.0,99.9,99.9,0.0,99.9,...,627-31-5251,405-959-1129,vinson,harmon,vinson,ok,73571,south,jwtitus,0.0

# Checking and Fixing Data Types

In [70]:
# Ensure 'quantity' is integer

df['qty_ordered'] = df['qty_ordered'].astype(int)

In [71]:
df.head()

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,...,ssn,phone_no.,place_name,county,city,state,zip,region,user_name,discount_percent
0,100354678,01-10-2020,received,574772.0,oasis_Oasis-064-36,21,89.9,1798.0,0.0,1798.0,...,627-31-5251,405-959-1129,vinson,harmon,vinson,ok,73571,south,jwtitus,0.0
1,100354678,01-10-2020,received,574774.0,Fantastic_FT-48,11,19.0,190.0,0.0,190.0,...,627-31-5251,405-959-1129,vinson,harmon,vinson,ok,73571,south,jwtitus,0.0
2,100354680,01-10-2020,complete,574777.0,mdeal_DMC-610-8,9,149.9,1199.2,0.0,1199.2,...,627-31-5251,405-959-1129,vinson,harmon,vinson,ok,73571,south,jwtitus,0.0
3,100354680,01-10-2020,complete,574779.0,oasis_Oasis-061-36,9,79.9,639.2,0.0,639.2,...,627-31-5251,405-959-1129,vinson,harmon,vinson,ok,73571,south,jwtitus,0.0
4,100367357,13-11-2020,received,595185.0,MEFNAR59C38B6CA08CD,2,99.9,99.9,0.0,99.9,...,627-31-5251,405-959-1129,vinson,harmon,vinson,ok,73571,south,jwtitus,0.0